.navigator{
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    position: relative;
    overflow: hidden;

    .thumbnail {
        position: absolute;
        background-color: #FFF;
        overflow: hidden;
        
        .scope {
            position: absolute;
            border: 1px red solid;
            box-sizing: border-box;
            cursor: -webkit-grab;
        }
    }
}