html, body {
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}

.container{
    margin: 100px auto;
    width: 1000px;
    height: 500px;
    outline: 1px #ddd solid;
    position: relative;
}